@model IEnumerable<GestionLigasDeportivas.Models.Equipo>

@{
    ViewData["Title"] = "Lista de Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Equipos</h1>

<p>
    <a asp-action="Create">Registrar nuevo equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liga.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EquipoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
