@model GestionLigasDeportivas.Models.Evento

@{
    ViewData["Title"] = "Eliminar evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar evento</h1>

<h3>¿Estas seguro de eliminar este evento o partido?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoLocal.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoVisitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoVisitante.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
