@model IEnumerable<GestionLigasDeportivas.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Crear nuevo evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipoLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipoVisitante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoLocal.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoVisitante.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
