@model GestionLigasDeportivas.Models.Estadistica

@{
    ViewData["Title"] = "Estadistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Estádistica completa</h1>

<div>
    <h4>Estadistica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asistencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetasRojas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarjetasRojas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetasAmarillas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarjetasAmarillas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipo.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jugador.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EstadisticaId">Editar estádistica</a> |
    <a asp-action="Index">Regresar</a>
</div>
